.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon



# Floobits
.floo
.floobit
.floo
.flooignore

# custom ignored files
public/dist/
node_modules/
Free-Trial-4-24-2015-credentials.publishsettings
credentials.publishsettings
